body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #212121;
  color: #fff;
}

header {
  text-align: center;
  padding: 20px 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 80px;
  width: auto;
  margin-bottom: 10px;
}

.logo2 {
  height: 40px;
  width: auto;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
}

.main {
  padding: 20px;
}

.set {
  margin-bottom: 40px;
}

.set-logo {
  display: block;
  height: 60px;
  width: auto;
  margin: auto;
}

.set-name {
  display: block;
  width: auto;
  text-align: center;
  margin: 0 auto 20px;
  font-size: 14px;
  color: #cccccc;
}

.cards-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px 0;
}

.card {
  flex: 0 0 auto;
  text-align: center;
  max-width: 150px;
}

.card img {
  width: 100%;
  height: auto;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.card .info {
  font-size: 14px;
  color: #cccccc;
}

.card .name {
}



/* Popup Styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

.popup.active {
  visibility: visible;
  opacity: 1;
}

.popup-content {
  background-color: #dedede;
  padding: 5px;
  border-radius: 10px;
  max-width: 90%;
  text-align: center;
  position: relative;
}

.popup img {

  width: 100%;
  height: auto;
  max-width: 390px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.popup .info {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.popup .switch {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background-color 0.3s;
}

.popup .switch:hover {
  background-color: #cccccc;
}

.popup-close {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 20px;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 30px;
  transition: background-color 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  font-size: 14px;
}

/* Flags inside the slider */
.slider .flag {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: opacity 0.4s;
}

.active-flag {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  transition: 0.3s ease-in-out;
}

/* Adjust flags visibility when toggled */
input:checked + .slider .flag-it {
  opacity: 1;
}

input:checked + .slider .flag-jp {
  opacity: 0.3;
}

input:not(:checked) + .slider .flag-jp {
  opacity: 1;
}

input:not(:checked) + .slider .flag-it {
  opacity: 0.3;
}

/* Add a shadow to the slider */
.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3px;
  background-image: url(images/jp.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  transition: transform 0.4s;
}

input:checked + .slider::before {
  transform: translateX(30px);
  background-image: url(images/it.png) ;
}

/* Update the label dynamically */
#language-label {
  font-size: 14px;
  color: #333;
}